<h2>Your To-Do List</h2>

<a href="/logout">Logout</a>

<form method="POST" action="/add">
    <input name="task" placeholder="New task">
    <button type="submit">Add</button>
</form>
<ul>
    {% for todo in todos %}
        <li>
            {% if todo.completed %}
                <strike>{{ todo.task }}</strike>
            {% else %}
                {{ todo.task }}
            {% endif %}

            <a href="/done/{{ todo.id }}">✔</a>
            <a href="/delete/{{ todo.id }}">❌</a>
        </li>
    {% endfor %}