{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <h2>Create Account</h2>

    <form method="POST" class="auth-form">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <button type="submit">
            Register
        </button>

    </form>

    <div class="auth-footer">
        Already have an account?
        <a href="{{ url_for('login') }}">
            Login
        </a>
    </div>

</div>

{% endblock %}